body {
    background:url(calendar2.jpg), no-repeat, fixed;
    background-size: cover;
}
.wrapper {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 90px auto;
   
}

table {
    width: 860px;
    height: 380px;
    border: 5px solid rgb(36, 64, 80);
    border-collapse: collapse;
    margin: 0 auto;
    
 }
 th {
    border: 1px solid grey;
    color:rgb(255, 255, 255);
    font-size: 1.3em;
 }
 td {
    color : cornsilk;
    border: 1px solid grey;
    text-align: center;
 }
 #clearCell {
     background-color: rgb(176, 154, 189);
 }
 
 table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 40% 50%, rgb(120, 103, 168), #403b61);
    color: #0C213B;
  }

  #title{
   
    font-weight: bold;
    font-size: 3em;
    padding: 10px; 
    margin-bottom: 40px;
    color: #090541;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
  }


  #changData{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 100px;
    width: 280px;
    opacity: 1;
    
  }
  #changData:hover {
    background-color: #306632;
    transform:scale(1.1);
    font-size: 18px;
  }

  .button-box{
      display: flex;
      justify-content: center;
  }