* {
    
    box-sizing: border-box;
    list-style-type: none;
    cursor: default;
}

.orderList > input {
    border: none;
    width: auto;
    cursor: pointer;
    margin-left: 5px;
}
.orderList > input:focus {
    cursor: text;
}
.input {
    cursor: text;
}