body {
    background:url(calendar2.jpg), no-repeat, fixed;
    background-size: cover;
}
.wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: 90px auto;
}

table {
    width: 860px;
    height: 380px;
    border: 5px solid rgb(36, 64, 80);
    border-collapse: collapse;
 }
 th {
    border: 1px solid grey;
    color:rgb(255, 255, 255);
    font-size: 1.3em;
 }
 td {
    color : cornsilk;
    border: 1px solid grey;
    text-align: center;
 }
 #clearCell {
     background-color: rgb(176, 154, 189);
 }
 
 table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 40% 50%, rgb(120, 103, 168), #403b61);
    color: #0C213B;
  }

  #title{
   
    font-weight: bold;
    font-size: 3em;
    padding: 10px; 
    margin-bottom: 40px;
    color: #090541;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
  }